.a1,.a2,.a3{
    border: 2px solid seagreen;
}
.a2{
    height: 100px;
    background-image: url(school.jpg);    
}
.a3{
    background-color: skyblue;
}
h1{
    color: tomato;
    padding: 10px;
}
ul{
    list-style: none; 
}
ul a{
    
    display: inline-block;
    margin: 10px;    
}
ul a:hover{
    color: rgb(236, 84, 24);
    background-color: rgb(206, 155, 131);
}
