.a1{
    background-color: aqua;
}
.a2{
    background-color: aquamarine;
}
.a3{
    background-color: bisque;
}
.a4{
    background-color: chartreuse;
}
.b1{
    width: 70%;
    height: 100%;
    background-image: url("back1.jpeg");
    background-repeat: no-repeat;
    background-position: top right;
}
.b2{
    width: 100%;
    height: 100%;
    background-image: url("back2.jpeg");
}
.b3{
    color: coral;
    font-style: italic;
    width: 100%;
    height: 100%;
    background-image: url("back3.jpg");
    
}
.b4{
    color: cornflowerblue;
    width: 100%;
    height: 100%;
    background-image: url("back4.jpeg");
}